html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}



.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background-color: #101010;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

/* font-family: 'Cormorant', serif;
font-family: 'Gelasio', serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif; */

.header{
    padding: 70px 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu__item{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.menu__item:hover{
    text-decoration: underline;
    color: #F55529;
    transition: all .3s;
}

.header__btn{
    font-family: 'Work Sans', sans-serif;
    background-color: #F50103;;
    color: #FFF;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.william__inner{
    display: flex;
    justify-content: space-between;
}

.william__title{
    max-width: 609px;
    font-size: 74px;
    font-weight: 800;
    line-height: 140%;
    margin-bottom: 31px;
}
.william__title span{
    color: #F50103;
}

.william{
    padding-top: 165px;
}

.william__txet{
    font-size: 22px;
    max-width: 664px;
    margin-bottom: 31px;
}

.wiliam__btn{
    border-radius: 5px;
    background: #F50103;
    font-size: 34px;
    font-weight: 800;
    padding: 20px 45px;
    display: inline-block;
    text-align: center;
}

.wiliam__btn:hover{
    color: aqua;
    transition: all .3s;
}

.wiliam__image{
    width: 100%;
    max-width: 661px;
    margin-top: -120px;
    margin-right: -200px;
}

.wiliam__image img{
    max-width: 100%;
}

.social{
    background: #F50103;
}

.social__contacts{
    display: flex;
    padding: 66px 434px;
    justify-content: center;
    gap: 129px;
    margin-top: -9px;
}

.social__link:hover{
    text-decoration: underline;
    color: #F55529;
    transition: all .3s;
}

.social__link{
    font-size: 40px;
    font-weight: 800;
}

.social__link--3{
    white-space: nowrap;
}

.services{
    padding-top: 144px;
}

.services__lead{
    font-family: 'Work Sans', sans-serif;
    color: #F50103;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 31px;
}

.services__title{
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 85px;
}

.services__column{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.services__content{
    background: #181818;
    padding: 60px 40px 48px;
}

.services__icon{
    margin-bottom: 24px;
}

.services__slogan{
    font-family: 'Cormorant', serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}

.services__text{
    font-family: 'Work Sans', sans-serif;
    max-width: 290px;
}

.services__content--3{
    color: #5A5A5A;
}

.problems{
    padding-top: 144px;
    background: #181818;
    margin-top: 144px;
}

.rectangle{
    background: #EAEAEF;
    width: 446px;
    height: 2px;
    margin-bottom: 21px;
    position: relative;
}

.rectangle::before{
    content: "";
    background-image: url(../images/Icon.svg);
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 44px;
    height: 44px;
    bottom: -18px;
    right: -68px;
}

.problems__soglan{
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
}

.problems__text{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    display: flex;
    color: #5A5A5A;
    gap: 12px;
}

.problems__desc{
    position: relative;
    margin: 0 25px;
}

.problems__desc::after{
    content: "";
    background-image: url(../images/icon-2.svg);
    background-size: cover;
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -28px;
    top: 50%;
    transform: translateY(-50%);
}

.problems__text:not(:last-child){
    margin-bottom: 59px;
}

.problems__item{
    display: flex;
    justify-content: space-around;
}

.problems__title{
    font-size: 56px;
    font-weight: 700;
    line-height: 71.5px;
    margin-bottom: 29px;
    max-width: 462px;
}

.problems__subtitle{
    font-family: 'Work Sans', sans-serif;
    color: #ECECEC;
    max-width: 419px;
    margin-bottom: 34px;
}

.problems__btn{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: #F55529; 
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    gap: 10px;
}